*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Oswald", sans-serif;
    color: black;
}

body{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(54, 145, 216);
}

.content{
    background-color: white;
    width: 80%;
    min-height: 80dvh;
    box-sizing: border-box;
    border-radius: 10px;
    border-bottom-right-radius: 10px;

    transition: background-color 0.5s ease box-shadow 0.5s ease;
}

.content:hover{
    box-shadow: 0 0 30px black;
}

.content__title{
    font-size: 40px;
    background-color: black;
    color: whitesmoke;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.content__form{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 20px 0;
    border-bottom: 2px solid black;
}

.content__form input{
    font-size: 15px;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    transition: background-color 1s ease;
}

.content__form input:focus{
    background-color: black;
    color: white;
}

.content__form button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.content__lista{
    max-height: 70dvh;
    overflow-x: auto;
}

.content__lista li{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.button-eliminar{
    background-image: url(img/borrar.png);
}

.button-editar{
    background-image: url(img/lapiz.png);
}

.button-enviar{
    background-image: url(img/boton-agregar.png);
}

.spanContenido{
    min-width: 150px;
    max-width: 150px;
    word-wrap: break-word;
    white-space: normal;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-left: 2px solid black;
}

::-webkit-scrollbar-thumb{
    border-bottom-right-radius: 10px;
    background: linear-gradient(45deg, rgb(0,0,0), rgb(34,84,141));
}